<div class="accordion" ng-init="initializeLayout()">
    <p class="accordion-navigation" ng-click="rebuild()" data-index="1">Detail<span><i class="plus-white square-10"></i></span>
    </p>
    <div class="accordion-content" data-index="1">
        <p class="title">ID</p>
        <p class="data">{{id.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Username</p>
        <p class="data">{{username.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Password</p>
        <p class="data">{{password.value}}</p>
        <div class="clearfix"></div>
        <p class="title">First Name</p>
        <p class="data">{{firstName.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Middle Name</p>
        <p class="data">{{middleName.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Last Name</p>
        <p class="data">{{lastName.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Gender</p>
        <p class="data">{{gender.value}}</p>
        <div class="clearfix"></div>
        <p class="title file">File</p>
        <div class="file-list" ng-if="file.upload.result">
            <img class="responsive" ng-src="{{file.value}}">
        </div>
        <div class="clearfix"></div>
        <p class="title">Language</p>
        <p class="data">{{language.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Street Address</p>
        <p class="data">{{streetAddress.value}}</p>
        <div class="clearfix"></div>
        <p class="title">City</p>
        <p class="data">{{city.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Province</p>
        <p class="data">{{province.value}}</p>
        <div class="clearfix"></div>
        <p class="title">ZIP code</p>
        <p class="data">{{zipCode.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Country</p>
        <p class="data">{{country.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Status</p>
        <p class="data">{{status.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Created Date</p>
        <p class="data">{{createdDate.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Modified Date</p>
        <p class="data">{{modifiedDate.value}}</p>
        <div class="clearfix"></div>
    </div>
    <p class="accordion-navigation" ng-click="rebuild()" data-index="2">Contact<span><i
            class="plus-white square-10"></i></span></p>
    <div class="accordion-content" data-index="2">
        <p class="title">Phone Number</p>
        <p class="data">{{phoneNumber.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Email Address</p>
        <p class="data">{{emailAddress.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Whatsapp Number</p>
        <p class="data">{{whatsappNumber.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Line ID</p>
        <p class="data">{{lineId.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Wechat ID</p>
        <p class="data">{{wechatId.value}}</p>
        <div class="clearfix"></div>
    </div>
    <p class="accordion-navigation" ng-click="rebuild()" data-index="3">Privilege<span><i
            class="plus-white square-10"></i></span></p>
    <div class="accordion-content" data-index="3">
        <p class="title">Role</p>
        <p class="data">{{role.value}}</p>
        <div class="clearfix"></div>
        <div class="privilege" ng-repeat="privilegeItem in privilege">
            <p class="title"><span class="required"></span>Privilege {{privilegeItem.name}}</p>
            <div class="checkbox-list">
                <div class="checkbox" ng-repeat="privilegeItemOption in privilegeItem.option">
                    <md-checkbox ng-checked="privilegeItem.value.slice($index, ($index + 1)) == '7'"
                                 ng-click="$event.preventDefault()">{{privilegeItemOption.name}}
                    </md-checkbox>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="popup-separator"></div>
</div>
