<div class="accordion" ng-init="initializeLayout()">
    <p class="accordion-navigation" ng-click="rebuild()" data-index="1">Detail<span><i class="plus-white square-10"></i></span>
    </p>
    <div class="accordion-content" data-index="1">
        <p class="title">ID</p>
        <p class="data">{{id.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Name</p>
        <p class="data">{{name.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Type</p>
        <p class="data">{{type.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Main Credit</p>
        <p class="data">{{creditMain.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Promotion Credit</p>
        <p class="data">{{creditPromotion.value}}</p>
        <div class="clearfix"></div>
        <p class="title file">File</p>
        <div class="file-list" ng-if="file.upload.result">
            <img class="responsive" ng-src="{{file.value}}">
        </div>
        <div class="clearfix"></div>
        <p class="title">Description</p>
        <div class="data" ng-bind-html="description.value"></div>
        <div class="clearfix"></div>
        <p class="title">Sequence</p>
        <p class="data">{{sequence.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Status</p>
        <p class="data">{{status.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Created Date</p>
        <p class="data">{{createdDate.value}}</p>
        <div class="clearfix"></div>
        <p class="title">Modified Date</p>
        <p class="data">{{modifiedDate.value}}</p>
        <div class="clearfix"></div>
    </div>
    <div class="popup-separator"></div>
</div>
