/*==================== Basic ====================*/

/*==================== Content ====================*/
div.filter form input.id {
    margin: 0 10px 10px 0;
}

div.filter form input:nth-child(2) {
    margin: 0 10px 10px 0;
    width: 132px;
}

div.filter form input:nth-child(3) {
    margin: 0 10px 10px 0;
    width: 132px;
}

div.filter form input:nth-child(4) {
    margin: 0 10px 10px 0;
    width: 132px;
}

div.filter form div.ui-select-container:nth-child(5) {
    margin: 0 10px 10px 0;
    width: 151px;
}

div.filter form div.ui-select-container:nth-child(6) {
    margin: 0 10px 10px 0;
    width: 151px;
}

div.filter form div.ui-select-container:nth-child(7) {
    margin: 0 10px 10px 0;
    width: 151px;
}

div.filter form div.ui-select-container:nth-child(8) {
    margin: 0 0 10px 0;
    width: 151px;
}

div.filter form div.ui-select-container:nth-child(9) {
    margin: 0 10px 0 0;
    width: 126px;
}

div.filter form input:nth-child(10) {
    margin: 0 10px 0 0;
    width: 106px;
}

div.filter form div.ui-select-container:nth-child(11) {
    margin: 0 10px 0 0;
    width: 125px;
}

div.filter form input:nth-child(12) {
    margin: 0 10px 0 0;
    width: 106px;
}

div.filter form input:nth-child(13) {
    margin: 0 10px 0 0;
    width: 106px;
}

div.filter form div.ui-select-container:nth-child(14) {
    margin: 0 10px 0 0;
    width: 125px;
}

div.filter form input:nth-child(15) {
    margin: 0 10px 0 0;
    width: 106px;
}

div.content .data-list th:nth-child(4),
div.content .data-list td:nth-child(4),
div.content .data-list th:nth-child(7),
div.content .data-list td:nth-child(7) {
    display: none;
}

div.accordion .accordion-content button.add {
    background: #41a6ff;
    border: 1px solid #41a6ff;
    border-radius: 5px;
    display: block;
    font-weight: 600;
    line-height: 28px;
    margin: 10px auto 20px auto;
    padding: 0 20px;
    text-align: center;
    width: 178px;
}

div.accordion .accordion-content button.add:hover {
    background: #3f97fe;
}

div.accordion .accordion-content div.bank-account {
    margin: 0 0 10px 0;
}

div.accordion-content .bank-account p {
    line-height: 30px;
    margin: 0;
    text-align: center;
}

div.accordion .accordion-content table.bank-account {
    border-collapse: collapse;
    margin: 0 auto 10px auto;
    width: 1210px;
}

div.accordion-content .bank-account tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

div.accordion-content .bank-account tr:nth-child(2n+2) {
    background: rgba(0, 0, 0, 0.2);
}

div.accordion-content .bank-account tr:last-child {
    border: none;
}

div.accordion-content .bank-account th {
    padding: 0;
}

div.accordion-content .bank-account th.index {
    width: 80px;
}

div.accordion-content .bank-account th.action {
    width: 90px;
}

table.bank-account th p {
    line-height: 20px;
    margin: 10px 20px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.accordion-content .bank-account td {
    padding: 0;
}

table.bank-account td p {
    line-height: 30px;
    margin: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.bank-account td:first-child p {
    text-transform: uppercase;
}

table.bank-account td button.delete {
    background: #af2f2f;
    border: 1px solid #af2f2f;
    border-radius: 5px;
    display: block;
    height: 24px;
    line-height: 22px;
    margin: 3px auto;
    padding: 0;
    width: 30px;
}

table.bank-account td button.delete:hover {
    background: #a62d2d;
}

@media only screen and (max-width: 359px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    div.filter form input:nth-child(2) {
        margin: 0 0 10px 0;
        width: 170px;
    }

    div.filter form input:nth-child(3) {
        width: 115px;
    }

    div.filter form input:nth-child(4) {
        margin: 0 0 10px 0;
        width: 115px;
    }

    div.filter form div.ui-select-container:nth-child(5) {
        width: 135px;
    }

    div.filter form div.ui-select-container:nth-child(6) {
        margin: 0 0 10px 0;
        width: 135px;
    }

    div.filter form div.ui-select-container:nth-child(7) {
        width: 135px;
    }

    div.filter form div.ui-select-container:nth-child(8) {
        margin: 0 0 10px 0;
        width: 135px;
    }

    div.filter form div.ui-select-container:nth-child(9) {
        margin: 0 10px 10px 0;
        width: 135px;
    }

    div.filter form input:nth-child(10) {
        margin: 0 0 10px 0;
        width: 115px;
    }

    div.filter form div.ui-select-container:nth-child(11) {
        margin: 0 10px 10px 0;
        width: 135px;
    }

    div.filter form input:nth-child(12) {
        margin: 0 0 10px 0;
        width: 115px;
    }

    div.filter form input:nth-child(13) {
        margin: 0 10px 10px 0;
        width: 115px;
    }

    div.filter form div.ui-select-container:nth-child(14) {
        margin: 0 0 10px 0;
        width: 135px;
    }

    div.filter form input:nth-child(15) {
        margin: 0 0 10px 72.5px;
        width: 115px;
    }

    div.filter form button.filter {
        margin: 0 10px 0 10px;
    }

    div.content .data-list th:nth-child(3),
    div.content .data-list td:nth-child(3),
    div.content .data-list th:nth-child(5),
    div.content .data-list td:nth-child(5),
    div.content .data-list th:nth-child(6),
    div.content .data-list td:nth-child(6),
    div.content .data-list th:nth-child(8),
    div.content .data-list td:nth-child(8),
    div.content .data-list th:nth-child(9),
    div.content .data-list td:nth-child(9) {
        display: none;
    }

    div.content .data-list th:nth-child(2) {
        width: 150px;
    }

    div.accordion .accordion-content table.bank-account {
        width: 300px;
    }

    div.accordion-content .bank-account th:nth-child(2),
    div.accordion-content .bank-account td:nth-child(2),
    div.accordion-content .bank-account th:nth-child(4),
    div.accordion-content .bank-account td:nth-child(4) {
        display: none;
    }

    div.accordion-content .bank-account th:nth-child(3) {
        width: 150px;
    }

    table.data-list td:nth-child(2) p {
        width: 130px;
    }

}

@media only screen and (min-width: 360px) and (max-width: 479px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    div.filter form input:nth-child(2) {
        margin: 0 0 10px 0;
        width: 210px;
    }

    div.filter form input:nth-child(3) {
        width: 135px;
    }

    div.filter form input:nth-child(4) {
        margin: 0 0 10px 0;
        width: 135px;
    }

    div.filter form div.ui-select-container:nth-child(5) {
        width: 155px;
    }

    div.filter form div.ui-select-container:nth-child(6) {
        margin: 0 0 10px 0;
        width: 155px;
    }

    div.filter form div.ui-select-container:nth-child(7) {
        width: 155px;
    }

    div.filter form div.ui-select-container:nth-child(8) {
        margin: 0 0 10px 0;
        width: 155px;
    }

    div.filter form div.ui-select-container:nth-child(9) {
        margin: 0 10px 10px 0;
        width: 155px;
    }

    div.filter form input:nth-child(10) {
        margin: 0 0 10px 0;
        width: 135px;
    }

    div.filter form div.ui-select-container:nth-child(11) {
        margin: 0 10px 10px 0;
        width: 155px;
    }

    div.filter form input:nth-child(12) {
        margin: 0 0 10px 0;
        width: 135px;
    }

    div.filter form input:nth-child(13) {
        margin: 0 10px 10px 0;
        width: 135px;
    }

    div.filter form div.ui-select-container:nth-child(14) {
        margin: 0 0 10px 0;
        width: 155px;
    }

    div.filter form input:nth-child(15) {
        margin: 0 0 10px 72.5px;
        width: 135px;
    }

    div.filter form button.filter {
        margin: 0 10px 0 30px;
    }

    div.content .data-list th:nth-child(3),
    div.content .data-list td:nth-child(3),
    div.content .data-list th:nth-child(5),
    div.content .data-list td:nth-child(5),
    div.content .data-list th:nth-child(6),
    div.content .data-list td:nth-child(6),
    div.content .data-list th:nth-child(8),
    div.content .data-list td:nth-child(8),
    div.content .data-list th:nth-child(9),
    div.content .data-list td:nth-child(9) {
        display: none;
    }

    div.content .data-list th:nth-child(2) {
        width: 190px;
    }

    div.accordion .accordion-content table.bank-account {
        width: 340px;
    }

    div.accordion-content .bank-account th:nth-child(2),
    div.accordion-content .bank-account td:nth-child(2),
    div.accordion-content .bank-account th:nth-child(4),
    div.accordion-content .bank-account td:nth-child(4) {
        display: none;
    }

    div.accordion-content .bank-account th:nth-child(3) {
        width: 190px;
    }

    table.data-list td:nth-child(2) p {
        width: 170px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 599px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    div.filter form input:nth-child(2) {
        width: 150px;
    }

    div.filter form input:nth-child(3) {
        margin: 0 0 10px 0;
        width: 150px;
    }

    div.filter form input:nth-child(4) {
        width: 120px;
    }

    div.filter form div.ui-select-container:nth-child(5) {
        width: 140px;
    }

    div.filter form div.ui-select-container:nth-child(6) {
        margin: 0 0 10px 0;
        width: 140px;
    }

    div.filter form div.ui-select-container:nth-child(7) {
        width: 140px;
    }

    div.filter form div.ui-select-container:nth-child(8) {
        margin: 0 10px 10px 0;
        width: 140px;
    }

    div.filter form div.ui-select-container:nth-child(9) {
        margin: 0 0 10px 0;
        width: 140px;
    }

    div.filter form input:nth-child(10) {
        margin: 0 10px 10px 0;
        width: 120px;
    }

    div.filter form div.ui-select-container:nth-child(11) {
        margin: 0 10px 10px 0;
        width: 140px;
    }

    div.filter form input:nth-child(12) {
        margin: 0 0 10px 0;
        width: 120px;
    }

    div.filter form input:nth-child(13) {
        margin: 0 10px 10px 0;
        width: 120px;
    }

    div.filter form div.ui-select-container:nth-child(14) {
        margin: 0 10px 10px 0;
        width: 140px;
    }

    div.filter form input:nth-child(15) {
        margin: 0 0 10px 0;
        width: 120px;
    }

    div.filter form button.filter {
        margin: 0 10px 0 90px;
    }

    div.content .data-list th:nth-child(3),
    div.content .data-list td:nth-child(3),
    div.content .data-list th:nth-child(6),
    div.content .data-list td:nth-child(6),
    div.content .data-list th:nth-child(8),
    div.content .data-list td:nth-child(8),
    div.content .data-list th:nth-child(9),
    div.content .data-list td:nth-child(9) {
        display: none;
    }

    div.accordion .accordion-content table.bank-account {
        width: 460px;
    }

    div.accordion-content .bank-account th:nth-child(4),
    div.accordion-content .bank-account td:nth-child(4) {
        display: none;
    }

}

@media only screen and (min-width: 600px) and (max-width: 639px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    div.filter form input:nth-child(2) {
        width: 210px;
    }

    div.filter form input:nth-child(3) {
        margin: 0 0 10px 0;
        width: 210px;
    }

    div.filter form input:nth-child(4) {
        width: 160px;
    }

    div.filter form div.ui-select-container:nth-child(5) {
        width: 180px;
    }

    div.filter form div.ui-select-container:nth-child(6) {
        margin: 0 0 10px 0;
        width: 180px;
    }

    div.filter form div.ui-select-container:nth-child(7) {
        width: 180px;
    }

    div.filter form div.ui-select-container:nth-child(8) {
        margin: 0 10px 10px 0;
        width: 180px;
    }

    div.filter form div.ui-select-container:nth-child(9) {
        margin: 0 0 10px 0;
        width: 180px;
    }

    div.filter form input:nth-child(10) {
        margin: 0 10px 10px 0;
        width: 160px;
    }

    div.filter form div.ui-select-container:nth-child(11) {
        margin: 0 10px 10px 0;
        width: 180px;
    }

    div.filter form input:nth-child(12) {
        margin: 0 0 10px 0;
        width: 160px;
    }

    div.filter form input:nth-child(13) {
        margin: 0 10px 10px 0;
        width: 160px;
    }

    div.filter form div.ui-select-container:nth-child(14) {
        margin: 0 10px 10px 0;
        width: 180px;
    }

    div.filter form input:nth-child(15) {
        margin: 0 0 10px 0;
        width: 160px;
    }

    div.filter form button.filter {
        margin: 0 10px 0 150px;
    }

    div.content .data-list th:nth-child(3),
    div.content .data-list td:nth-child(3),
    div.content .data-list th:nth-child(6),
    div.content .data-list td:nth-child(6),
    div.content .data-list th:nth-child(8),
    div.content .data-list td:nth-child(8),
    div.content .data-list th:nth-child(9),
    div.content .data-list td:nth-child(9) {
        display: none;
    }

    div.accordion .accordion-content table.bank-account {
        width: 580px;
    }

    div.accordion-content .bank-account th:nth-child(4),
    div.accordion-content .bank-account td:nth-child(4) {
        display: none;
    }

}

@media only screen and (min-width: 640px) and (max-width: 767px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    div.filter form input:nth-child(2) {
        width: 230px;
    }

    div.filter form input:nth-child(3) {
        margin: 0 0 10px 0;
        width: 230px;
    }

    div.filter form input:nth-child(4) {
        width: 174px;
    }

    div.filter form div.ui-select-container:nth-child(5) {
        width: 193px;
    }

    div.filter form div.ui-select-container:nth-child(6) {
        margin: 0 0 10px 0;
        width: 193px;
    }

    div.filter form div.ui-select-container:nth-child(7) {
        width: 193px;
    }

    div.filter form div.ui-select-container:nth-child(8) {
        margin: 0 10px 10px 0;
        width: 193px;
    }

    div.filter form div.ui-select-container:nth-child(9) {
        margin: 0 0 10px 0;
        width: 194px;
    }

    div.filter form input:nth-child(10) {
        margin: 0 10px 10px 0;
        width: 173px;
    }

    div.filter form div.ui-select-container:nth-child(11) {
        margin: 0 10px 10px 0;
        width: 193px;
    }

    div.filter form input:nth-child(12) {
        margin: 0 0 10px 0;
        width: 174px;
    }

    div.filter form input:nth-child(13) {
        margin: 0 10px 10px 0;
        width: 173px;
    }

    div.filter form div.ui-select-container:nth-child(14) {
        margin: 0 10px 10px 0;
        width: 193px;
    }

    div.filter form input:nth-child(15) {
        margin: 0 0 10px 0;
        width: 173px;
    }

    div.filter form button.filter {
        margin: 0 10px 0 170px;
    }

    div.content .data-list th:nth-child(3),
    div.content .data-list td:nth-child(3),
    div.content .data-list th:nth-child(6),
    div.content .data-list td:nth-child(6),
    div.content .data-list th:nth-child(8),
    div.content .data-list td:nth-child(8),
    div.content .data-list th:nth-child(9),
    div.content .data-list td:nth-child(9) {
        display: none;
    }

    div.accordion .accordion-content table.bank-account {
        width: 620px;
    }

    div.accordion-content .bank-account th:nth-child(4),
    div.accordion-content .bank-account td:nth-child(4) {
        display: none;
    }

}

@media only screen and (min-width: 768px) and (max-width: 799px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    div.filter form input:nth-child(2) {
        width: 186px;
    }

    div.filter form input:nth-child(3) {
        width: 186px;
    }

    div.filter form input:nth-child(4) {
        margin: 0 0 10px 0;
        width: 186px;
    }

    div.filter form div.ui-select-container:nth-child(5) {
        width: 174px;
    }

    div.filter form div.ui-select-container:nth-child(6) {
        width: 175px;
    }

    div.filter form div.ui-select-container:nth-child(7) {
        width: 174px;
    }

    div.filter form div.ui-select-container:nth-child(8) {
        width: 175px;
    }

    div.filter form div.ui-select-container:nth-child(9) {
        margin: 0 10px 10px 0;
        width: 175px;
    }

    div.filter form input:nth-child(10) {
        margin: 0 10px 10px 0;
        width: 154px;
    }

    div.filter form div.ui-select-container:nth-child(11) {
        margin: 0 10px 10px 0;
        width: 174px;
    }

    div.filter form input:nth-child(12) {
        margin: 0 0 10px 0;
        width: 155px;
    }

    div.filter form input:nth-child(13) {
        margin: 0 10px 10px 0;
        width: 216px;
    }

    div.filter form div.ui-select-container:nth-child(14) {
        margin: 0 10px 10px 0;
        width: 236px;
    }

    div.filter form input:nth-child(15) {
        margin: 0 0 10px 0;
        width: 216px;
    }

    div.filter form button.filter {
        margin: 0 10px 0 234px;
    }

    div.content .data-list th:nth-child(6),
    div.content .data-list td:nth-child(6),
    div.content .data-list th:nth-child(8),
    div.content .data-list td:nth-child(8),
    div.content .data-list th:nth-child(9),
    div.content .data-list td:nth-child(9) {
        display: none;
    }

    div.accordion .accordion-content table.bank-account {
        width: 728px;
    }

}

@media only screen and (min-width: 800px) and (max-width: 899px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    div.filter form input:nth-child(2) {
        width: 197px;
    }

    div.filter form input:nth-child(3) {
        width: 196px;
    }

    div.filter form input:nth-child(4) {
        margin: 0 0 10px 0;
        width: 197px;
    }

    div.filter form div.ui-select-container:nth-child(5) {
        width: 182px;
    }

    div.filter form div.ui-select-container:nth-child(6) {
        width: 183px;
    }

    div.filter form div.ui-select-container:nth-child(7) {
        width: 182px;
    }

    div.filter form div.ui-select-container:nth-child(8) {
        width: 183px;
    }

    div.filter form div.ui-select-container:nth-child(9) {
        margin: 0 10px 10px 0;
        width: 183px;
    }

    div.filter form input:nth-child(10) {
        margin: 0 10px 10px 0;
        width: 162px;
    }

    div.filter form div.ui-select-container:nth-child(11) {
        margin: 0 10px 10px 0;
        width: 182px;
    }

    div.filter form input:nth-child(12) {
        margin: 0 0 10px 0;
        width: 163px;
    }

    div.filter form input:nth-child(13) {
        margin: 0 10px 10px 0;
        width: 227px;
    }

    div.filter form div.ui-select-container:nth-child(14) {
        margin: 0 10px 10px 0;
        width: 246px;
    }

    div.filter form input:nth-child(15) {
        margin: 0 0 10px 0;
        width: 227px;
    }

    div.filter form button.filter {
        margin: 0 10px 0 250px;
    }

    div.content .data-list th:nth-child(6),
    div.content .data-list td:nth-child(6),
    div.content .data-list th:nth-child(8),
    div.content .data-list td:nth-child(8),
    div.content .data-list th:nth-child(9),
    div.content .data-list td:nth-child(9) {
        display: none;
    }

    div.accordion .accordion-content table.bank-account {
        width: 760px;
    }

}

@media only screen and (min-width: 900px) and (max-width: 979px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    div.filter form input:nth-child(2) {
        width: 230px;
    }

    div.filter form input:nth-child(3) {
        width: 230px;
    }

    div.filter form input:nth-child(4) {
        margin: 0 0 10px 0;
        width: 230px;
    }

    div.filter form div.ui-select-container:nth-child(5) {
        width: 207px;
    }

    div.filter form div.ui-select-container:nth-child(6) {
        width: 208px;
    }

    div.filter form div.ui-select-container:nth-child(7) {
        width: 207px;
    }

    div.filter form div.ui-select-container:nth-child(8) {
        width: 208px;
    }

    div.filter form div.ui-select-container:nth-child(9) {
        margin: 0 10px 10px 0;
        width: 208px;
    }

    div.filter form input:nth-child(10) {
        margin: 0 10px 10px 0;
        width: 187px;
    }

    div.filter form div.ui-select-container:nth-child(11) {
        margin: 0 10px 10px 0;
        width: 207px;
    }

    div.filter form input:nth-child(12) {
        margin: 0 0 10px 0;
        width: 188px;
    }

    div.filter form input:nth-child(13) {
        width: 170px;
    }

    div.filter form div.ui-select-container:nth-child(14) {
        width: 190px;
    }

    div.filter form input:nth-child(15) {
        width: 170px;
    }

    div.content .data-list th:nth-child(6),
    div.content .data-list td:nth-child(6),
    div.content .data-list th:nth-child(8),
    div.content .data-list td:nth-child(8),
    div.content .data-list th:nth-child(9),
    div.content .data-list td:nth-child(9) {
        display: none;
    }

    div.accordion .accordion-content table.bank-account {
        width: 860px;
    }

}

@media only screen and (min-width: 980px) and (max-width: 1023px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    div.filter form input:nth-child(2) {
        width: 257px;
    }

    div.filter form input:nth-child(3) {
        width: 256px;
    }

    div.filter form input:nth-child(4) {
        margin: 0 0 10px 0;
        width: 257px;
    }

    div.filter form div.ui-select-container:nth-child(5) {
        width: 227px;
    }

    div.filter form div.ui-select-container:nth-child(6) {
        width: 228px;
    }

    div.filter form div.ui-select-container:nth-child(7) {
        width: 227px;
    }

    div.filter form div.ui-select-container:nth-child(8) {
        width: 228px;
    }

    div.filter form div.ui-select-container:nth-child(9) {
        margin: 0 10px 10px 0;
        width: 228px;
    }

    div.filter form input:nth-child(10) {
        margin: 0 10px 10px 0;
        width: 207px;
    }

    div.filter form div.ui-select-container:nth-child(11) {
        margin: 0 10px 10px 0;
        width: 227px;
    }

    div.filter form input:nth-child(12) {
        margin: 0 0 10px 0;
        width: 208px;
    }

    div.filter form input:nth-child(13) {
        width: 197px;
    }

    div.filter form div.ui-select-container:nth-child(14) {
        width: 216px;
    }

    div.filter form input:nth-child(15) {
        width: 197px;
    }

    div.content .data-list th:nth-child(6),
    div.content .data-list td:nth-child(6),
    div.content .data-list th:nth-child(8),
    div.content .data-list td:nth-child(8),
    div.content .data-list th:nth-child(9),
    div.content .data-list td:nth-child(9) {
        display: none;
    }

    div.accordion .accordion-content table.bank-account {
        width: 940px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    div.filter form input:nth-child(2) {
        width: 272px;
    }

    div.filter form input:nth-child(3) {
        width: 271px;
    }

    div.filter form input:nth-child(4) {
        margin: 0 0 10px 0;
        width: 271px;
    }

    div.filter form div.ui-select-container:nth-child(5) {
        width: 238px;
    }

    div.filter form div.ui-select-container:nth-child(6) {
        width: 239px;
    }

    div.filter form div.ui-select-container:nth-child(7) {
        width: 238px;
    }

    div.filter form div.ui-select-container:nth-child(8) {
        width: 239px;
    }

    div.filter form div.ui-select-container:nth-child(9) {
        margin: 0 10px 10px 0;
        width: 239px;
    }

    div.filter form input:nth-child(10) {
        margin: 0 10px 10px 0;
        width: 218px;
    }

    div.filter form div.ui-select-container:nth-child(11) {
        margin: 0 10px 10px 0;
        width: 238px;
    }

    div.filter form input:nth-child(12) {
        margin: 0 0 10px 0;
        width: 219px;
    }

    div.filter form input:nth-child(13) {
        width: 211px;
    }

    div.filter form div.ui-select-container:nth-child(14) {
        width: 231px;
    }

    div.filter form input:nth-child(15) {
        width: 212px;
    }

    div.content .data-list th:nth-child(6),
    div.content .data-list td:nth-child(6),
    div.content .data-list th:nth-child(8),
    div.content .data-list td:nth-child(8) {
        display: none;
    }

    div.accordion .accordion-content table.bank-account {
        width: 984px;
    }

}

@media only screen and (min-width: 1280px) and (max-width: 1359px) {

    /* Not set yet */

}

@media only screen and (min-width: 1360px) and (max-width: 1599px) {

    /* Not set yet */

}

@media only screen and (min-width: 1600px) and (max-width: 1919px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    div.filter form input.id {
        width: 100px;
    }

    div.filter form input:nth-child(2) {
        width: 162px;
    }

    div.filter form input:nth-child(3) {
        width: 162px;
    }

    div.filter form input:nth-child(4) {
        width: 162px;
    }

    div.filter form div.ui-select-container:nth-child(5) {
        width: 181px;
    }

    div.filter form div.ui-select-container:nth-child(6) {
        width: 181px;
    }

    div.filter form div.ui-select-container:nth-child(7) {
        width: 181px;
    }

    div.filter form div.ui-select-container:nth-child(8) {
        width: 181px;
    }

    div.filter form div.ui-select-container:nth-child(9) {
        width: 161px;
    }

    div.filter form input:nth-child(10) {
        width: 141px;
    }

    div.filter form div.ui-select-container:nth-child(11) {
        width: 161px;
    }

    div.filter form input:nth-child(12) {
        width: 142px;
    }

    div.filter form input:nth-child(13) {
        width: 142px;
    }

    div.filter form div.ui-select-container:nth-child(14) {
        width: 161px;
    }

    div.filter form input:nth-child(15) {
        width: 142px;
    }

    div.content .data-list th:nth-child(4),
    div.content .data-list td:nth-child(4) {
        display: block;
    }

}

@media only screen and (min-width: 1920px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    div.filter form input.id {
        width: 100px;
    }

    div.filter form input:nth-child(2) {
        width: 205px;
    }

    div.filter form input:nth-child(3) {
        width: 204px;
    }

    div.filter form input:nth-child(4) {
        width: 205px;
    }

    div.filter form div.ui-select-container:nth-child(5) {
        width: 224px;
    }

    div.filter form div.ui-select-container:nth-child(6) {
        width: 224px;
    }

    div.filter form div.ui-select-container:nth-child(7) {
        width: 224px;
    }

    div.filter form div.ui-select-container:nth-child(8) {
        width: 224px;
    }

    div.filter form div.ui-select-container:nth-child(9) {
        width: 204px;
    }

    div.filter form input:nth-child(10) {
        width: 184px;
    }

    div.filter form div.ui-select-container:nth-child(11) {
        width: 204px;
    }

    div.filter form input:nth-child(12) {
        width: 185px;
    }

    div.filter form input:nth-child(13) {
        width: 185px;
    }

    div.filter form div.ui-select-container:nth-child(14) {
        width: 204px;
    }

    div.filter form input:nth-child(15) {
        width: 184px;
    }

    div.content .data-list th:nth-child(4),
    div.content .data-list td:nth-child(4),
    div.content .data-list th:nth-child(7),
    div.content .data-list td:nth-child(7) {
        display: block;
    }

}
